{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/font.css" %}">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    {% block head %}{% endblock %}
</head>

<body>


<nav class="navbar navbar-default">
  <div class="container">
   <h1>博客</h1>
  </div>
</nav>



<!-- Main content area -->
<main class="container">
    <div class="row">

        <!-- Sidebar -->
        {% include "base/sidebar.html" %}

        <!-- Main content -->
        <div class="col-sm-8">
            {% block content %}{% endblock %}

        </div>
    </div>
</main>
</body>
</html>